<!--301254146 301188372 details.ejs
this will display the home page -->

<%- include('../partials/header.ejs'); %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="">
          <h1><%= title %></h1>
            <h2>Welcome to our Survey Creation Tool. Click on "Survey List" to being. Thanks for using our tool!</h2>
        </div>
      </div>
    </div>

<%- include('../partials/footer.ejs'); %>


